{% extends "webgateway/core_html.html" %}
{% load i18n %}

{% block title %}
    Upload Data
{% endblock %}

{% block link %}
    <style type="text/css">
        body {
            font-family: Arial;
            background: #eee;
            margin: 0px;
            padding: 0px;
        }
        div.footer {
            background: #ddd; 
            position:fixed; 
            bottom:0px; left:0px; right:0px;
            padding: 7px;
            border-top: 1px solid #aaa;
            font-size: 80%;
        }
        h3 {
            margin-top: 0px;
            padding-bottom: 10px;
            border-bottom: solid #aaa 1px;
        }
        input[type='text'] {
            border: solid 1px rgba(0,0,0,.2);
            border-top: solid 1px rgba(0,0,0,.3);
            box-shadow: 0 1px 0 white, inset 0 1px 1px rgba(0,0,0,.1);
            border-radius: 2px;
            padding: 5px;
        }
        #spinner {
            display: none;
            margin: -2px 0;
        }
        .row {
        display: flex;
        }
        .column {
            flex: 50%;
            padding: 10px;
        }
        .column.left {
            background-color: #808080; /* Darker gray */
        }
        .column.right {
            background-color: #b0c4de; /* Blue gray */
        }
        /* Table styles */
        table {
            width: 100%;
            border-collapse: collapse;
            background-color: #b0c4de; /* Blue gray */
        }
        th {
            background-color: #808080; /* Darker gray */
            padding: 10px;
            text-align: left;
        }
        td {
            padding: 10px;
            border-top: 1px solid #fff;
        }
    </style>
{% endblock %}

{% block script %}
    {{ block.super }}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript">
        // Use jQuery's no-conflict mode
        var $j = jQuery.noConflict();

        $j(document).ready(function() {
            console.log("Loading data_upload_popup template");

            // Show an error message
            function showError(message) {
                var errorMessageElement = $j('#errorMessage');
                errorMessageElement.text(message);
                errorMessageElement.show();
            }

            $j('#data_files').change(function() {
                var files = this.files;
                $j('#fileList').empty(); // Clear the list

                // Add table header
                var tableHeader = '<table><thead><tr><th>File Name</th><th>Metadata File</th></tr></thead><tbody>';
                $j('#fileList').append(tableHeader);

                for (var i = 0; i < files.length; i++) {
                    var file = files[i];
                    var fileName = file.name;

                    var fileRow = '<tr><td>' + fileName + '</td><td><input type="file" name="metadata_file_' + i + '" /></td></tr>';
                    $j('#fileList tbody').append(fileRow);
                }

                $j('#fileList').append('</tbody></table>');
            });
        });
    </script>
{% endblock %}
{% block body %}
    <form id='data_upload_form' method="post" action="{% url 'data_upload_form' %}">{% csrf_token %}
        <div style="padding:10px; margin-bottom:40px">
            <h3 id="dataUploadName">Upload Data</h3>
            <div id="descriptionDiv">
                <p>description of Upload process and script info</p>
            </div>
        
            <!-- Active Group Display -->
            <div class="row">
                <div class="column left">
                    <p>Group:</p>
                </div>
                <div class="column right">
                    <p><strong>{{ activeGroup.name }}</strong></p>
                </div>
            </div>

            <!-- Project Selection Dropdown -->
            <div class="row">
                <div class="column left">
                    <label>Select Project:</label>
                </div>
                <div class="column right">
                    <select id="projectSelect" name="project">
                        <option value="">--Select Project--</option>
                        {% if projects %}
                        {% for project in projects %}
                            <option value="{{ project.id }}">{{ project.name }}</option>
                        {% endfor %}
                        {% else %}
                            <p>No projects were found in the active group. Please Make projects.</p>
                        {% endif %}
                    </select>
                </div>
            </div>

            <!-- Dataset Name Input -->
            <div class="row">
                <div class="column left">
                    <label>Enter Dataset Name:</label>
                </div>
                <div class="column right">
                    <input type="text" id="datasetName" name="datasetName" />
                </div>
            </div>
        
            <!-- Error Message -->
            <p id="errorMessage" style="display: none; color: red;"></p>
        
            <p>
                <label>Choose files to upload:</label>
                <input id="data_files" name="data_files" type="file" multiple />
            </p>
            
            <div id="fileList"></div>
        
            <p id="targetInfo" style="display:none">
                <span id="targetMessage"></span>
                <pre><code id="targetPath"></code></pre>
            </p>
        </div>
        <div class="footer">
            <div style="float:right">
                <a href="#" tabIndex="3" onClick="self.close()">Close</a>
                <input id="submit" tabIndex="2" type="submit" value="Upload Data" />
                <img id="spinner" src ="{% static "webgateway/img/spinner.gif" %}"/>
            </div>
        </div>
    </form>
{% endblock %}