body {
    font-family: Arial, sans-serif;
    background-color: hsl(215,9%,88%);
    margin: 0;
    padding: 0;
}

#topContainer, #scriptsContainer, #searchContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#searchBox {
    display: inline-flex;
    margin: 10px;
}

#searchInput {
    padding: 10px 20px;
    margin: 5px;
    border: 1px solid gray;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    text-align: center;
    background: white;
    width: 80px; /* Make the search field narrower */
}

.dict {
    position: relative; /* Set the position to relative */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 95%;
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
}

.titleBubble {
    position: absolute; /* Position absolutely */
    top: -10px; /* Position partially outside the top edge of the parent div */
    left: -10px; /* Position partially outside the left edge of the parent div */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Add a box shadow to make the div pop */
    padding: 10px; /* Add some padding */
    color: white; /* Make the text color white */
    border: 1px solid white; /* Add a white border */
    font-size: 20px; /* Increase the font size */
    border-radius: 8px; /* Add rounded corners */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add a shadow to the text */
    }

.category {
    width: 100%; /* Take up a full 'line' in the div */
    font-size: 14px;
    font-weight: bold; /* Make the text bold */
    color: white; /* Make the text white */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add a shadow to make the text pop */
    margin-top: 10px; /* Add some top margin for separation */
    text-align: center; /* Center the category title */
    position: relative; /* Position relative to the pseudo-elements */
    overflow: hidden; /* Hide the parts of the pseudo-elements that are outside this element */
    padding-bottom: 10px; /* Add some bottom padding */
}

.script {
    font-size: 12px;
    font-weight: bold; /* Make the text bold */
    color: white; /* Make the text white */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
    border: 1px solid #ddd;
    border-radius: 8px;
    width: auto; 
    margin: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    text-align: center;
    padding: 20px;
    cursor: pointer; /* Change cursor to indicate it's clickable */
    transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s; /* Smooth transition for hover and active states */
}

.script:hover {
    background-color: #f0f0f0; /* Light grey background on hover */
    box-shadow: 0 4px 8px rgba(0,0,0,0.2); /* Add shadow for a lifted effect */
    transform: translateY(-2px); /* Slightly move the script up */
    color: black;
}

.script:active {
    background-color: #e0e0e0; /* Slightly darker on click */
    box-shadow: 0 2px 4px rgba(0,0,0,0.2); /* Less shadow to simulate being pressed */
    transform: translateY(1px); /* Move the script down to simulate pressing */
}