{% extends "webgateway/core_html.html" %}
{% load i18n %}

{% block title %}
    Upload Data
{% endblock %}

{% block link %}
    <link rel="stylesheet" type="text/css" href="{% static 'webclient/css/data_upload_popup.css' %}">
{% endblock %}

{% block script %}
    {{ block.super }}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript">
        // Use jQuery's no-conflict mode
        var $j = jQuery.noConflict();
        var baseDataDirectory = '{{ base_data_directory }}';
    
        $j(document).ready(function() {
    
            // Show an error message
            function showError(message) {
                var errorMessageElement = $j('#errorMessage');
                errorMessageElement.text(message);
                errorMessageElement.show();
            }
    
            $j('#data_files').change(function() {
                var selectedFiles = $j(this).val();
                $j('#fileList').empty(); // Clear the list
    
                // Add table header
                var tableHeader = '<table><thead><tr><th>File Name</th><th>Metadata File</th></tr></thead><tbody>';
                $j('#fileList').append(tableHeader);
                
                for (var i = 0; i < selectedFiles.length; i++) {
                    var fileName = selectedFiles[i];
                    var fileRow = '<tr><td>' + fileName + '</td><td><input type="file" name="metadata_file_' + i + '" /></td></tr>';
                    $j('#fileList tbody').append(fileRow);
                }
            
                $j('#fileList').append('</tbody></table>');
            });
    
            // Set the data_paths input field's value when the form is submitted
            $j('#data_uploader_script_launcher').submit(function() {
                var selectedFiles = [];
                $j('#fileTree input[type="checkbox"]:checked').each(function() {
                    selectedFiles.push(this.id.replace('checkbox-', ''));
                });
                $j('#data_paths').val(selectedFiles.join(','));
            });
        });
    </script>
{% endblock %}
{% block body %}
    {% if selected_dataset %}
    <script src="{% static 'webclient/javascript/cute_file_selector.js' %}"></script>
    <form id='data_uploader_script_launcher' method="post" enctype="multipart/form-data" action="{% url 'data_uploader_script_launcher' %}">{% csrf_token %}
        
        <div style="padding:10px; margin-bottom:10px">
            <h3 id="dataUploadName">Upload Data</h3>
            
            <!-- Add these hidden input fields -->
            <input type="hidden" id="data_paths" name="data_paths">
            <input type="hidden" id="dataset_id" name="dataset_id" value="{{ selected_dataset.id }}">
            <input type="hidden" id="active_group_id" name="active_group_id" value="{{ activeGroup.id }}">

            <!-- Description Div -->
            <div id="descriptionDiv" style="background-color: #f0f0f0; padding: 0px; margin-bottom: 0px;">
                <!-- Description Text -->
                <p style="font-size: 0.8em;">
                    This script uses the selected Dataset and the files chosen by the user, 
                    along with the metadata specified through XML files, to upload well-annotated 
                    data to the selected Dataset folder. Please ensure that you have selected 
                    the correct Dataset and files before proceeding with the upload.
                </p>
                <p style="font-size: 0.8em;"><strong>Author:</strong> Rodrigo Rosas-Bertolini</p>
                <p style="font-size: 0.8em;"><strong>Contact:</strong> r.rosas@amsterdamumc.nl</p>
                <p style="font-size: 0.8em;"><strong>Version:</strong> 0.0.0</p>
            </div>

            <p class="section_title"><strong>Data Destination:</strong></p>

            <!-- Active Group Display -->
            <div class="row">
                <div class="column left">
                    <p class="data_destination_fields"><strong>Selected Group:</strong></p>
                </div>
                <div class="column right">
                    <p class="data_destination_fields"><strong>{{ activeGroup.name }}</strong></p>
                </div>
                <div class="column id">
                    <p class="data_destination_fields">ID: {{ activeGroup.id }}</p>
                </div>
            </div>
            
            <!-- Dataset Selection Dropdown -->
            <div class="row">
                <div class="column left">
                    <p class="data_destination_fields"><strong>Selected Dataset:</strong></p>
                </div>
                <div class="column right">
                    {% if selected_dataset %}
                        <p class="data_destination_fields"><strong>{{ selected_dataset.name }}</strong></p>
                    {% else %}
                        <p class="data_destination_fields">No Dataset Selected</p>
                    {% endif %}
                </div>
                <div class="column id">
                    {% if selected_dataset %}
                        <p class="data_destination_fields">ID: {{ selected_dataset.id }}</p>
                    {% else %}
                        <p class="data_destination_fields">No ID</p>
                    {% endif %}
                </div>
            </div>
            
            <p class="section_title"><strong>Data Source:</strong></p>
            <div style="background-color: #b0c4de; padding: 10px;">
                {% for directory in group_directories %}
                    <button type="button" class="btn btn-default" id="{{ directory }}" onclick="selectGroupDirectory(this.id)">{{ directory }}</button>
                {% endfor %}
                
                <script>
                    var filesInDataDir = JSON.parse('{{ files_in_data_dir|escapejs }}');
                    console.log('filesInDataDir:')
                    console.log(filesInDataDir);

                    function selectGroupDirectory(id) {
                        // Reset the color of the previously selected button, if any
                        if (window.selectedButtonId) {
                            var previousButton = document.getElementById(window.selectedButtonId);
                            previousButton.style.backgroundColor = ""; // Change this to the original color
                            previousButton.style.color = "";
                        }
                
                        // Change the color of the selected button
                        var selectedButton = document.getElementById(id);
                        selectedButton.style.backgroundColor = "gray";
                        selectedButton.style.color = "white";
                
                        // Store the id of the selected button
                        window.selectedButtonId = id;
                
                        // Build and render the file tree for the selected directory
                        var fileData = filesInDataDir[id];
                        var fileTree = buildFileTree(fileData);
                        var fileTreeDiv = document.getElementById('fileTree');
                        fileTreeDiv.innerHTML = ""; // Clear the div
                        renderFileTree(fileTree, fileTreeDiv);
                    }
                </script>
                <p class="section_title"><strong>Select Files:</strong></p>
                <div id="fileTree"></div>
                <p id="targetInfo" style="display:none">
                    <span id="targetMessage"></span>
                    <pre><code id="targetPath"></code></pre>
                </p>
            </div>

        <div class="footer">
            <div style="float:right">
                <a href="#" tabIndex="3" onClick="self.close()">Close</a>
                <input id="submit" tabIndex="2" type="submit" value="Upload Data" />
                <img id="spinner" src ="{% static "webgateway/img/spinner.gif" %}"/>
            </div>
        </div>
    </form>
    {% else %}
        <!-- Warning message -->
        <div style="padding:10px; margin-bottom:40px">
            <h3 id="dataUploadName">Upload Data</h3>
            <p style="color: red;">Select a single Dataset in the left-side 'Explore' menu before running 'Upload Data'. If the Dataset where you want to upload data does not yet exist, create it by clicking on the green folder icon of the same menu.</p>
        </div>
        <div class="footer">
            <div style="float:right">
                <a href="#" tabIndex="3" onClick="self.close()">Close</a>
            </div>
        </div>
    {% endif %}
{% endblock %}