{% extends "webgateway/core_html.html" %}
{% load i18n %}

{% block head %}
<meta charset="UTF-8">
<title>Script Dashboard</title>
<link rel="stylesheet" href="{% static "webclient/css/scripts_buttons.css" %}">
{% endblock %}

{% block body %}
<body data-scripts-url="{{ scripts_url }}">
    <div id="topContainer">
        <div id="buttonsContainer">
        </div>
        <div id="searchBox">
            <input id="searchInput" type="text" placeholder="Search scripts">
        </div>
    </div>
    <div id="searchContainer"></div>
    <div id="scriptsContainer"></div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="{% static "webgateway/js/ome.popup.js" %}"></script>
    <script type="text/javascript" src="{% static "webclient/javascript/scripts_popup.js" %}"></script>
    
</body>
{% endblock %}