<!-- Include the ome.popup.js file -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script src="{% static 'path_to_js_file/ome.popup.js' %}"></script>

<script type="text/javascript">
    $(document).ready(function() {
        $('#scriptMenuPopupButton').click(function(event) {
            event.preventDefault();

            // URL of the list_scripts view
            var url = $(this).attr('href');

            // Open a new window with the content of the list_scripts view
            OME.openCenteredWindow(url, 500, 1000);
        });
    });
</script>

<!-- Script Menu button -->
<li>
    <span id="scriptMenuPopupButton" class="scriptButton toolbar_button" href="{% url 'list_scripts' %}" title="Script Menu"></span>
    <div id="scriptList" class="sub_menu info_panel" style="min-width: 200px !important">
    <img id="scriptSpinner" style="display:none" src="{% static "webgateway/img/spinner.gif" %}" />
        <!-- script list-items loaded here by AJAX -->
    </div>
</li>

<!-- Data Upload button -->
<!-- <li>
    <a id="dataUploadButton" class="toolbar_button" title="Upload Data" href="{% url 'data_upload_popup' %}"></a>
</li> -->

<!-- <script type="text/javascript">
    $(document).ready(function() {
        $('#dataUploadButton').click(function(event) {
            OME.openDataUploadWindow(event, 500, 1000);
            return false;  // prevent the default action
        });
    });
</script> -->
