{% extends "webgateway/core_html.html" %}
{% load i18n %}
<html>
<head>
    <title>Script Launch Head</title>
    {% include "webclient/base/includes/script_launch_head.html" %}
</head>
<body>
    <p>TEST CONTENT</p>
</body>
</html>

<!-- {% extends "webgateway/core_html.html" %}
{% load i18n %}
<head>
    <meta charset="UTF-8">
    <title>Script Dashboard</title>
    <link rel="stylesheet" href="{% static "webclient/css/scripts_buttons.css" %}">
    
</head>
<body>
    <div id="topContainer">
        <div id="buttonsContainer">
        </div>
        <div id="searchBox">
            <input id="searchInput" type="text" placeholder="Search scripts">
        </div>
    </div>
    <div id="searchContainer"></div>
    <div id="scriptsContainer"></div>
    <script type="text/javascript" src="{% static "webclient/javascript/scripts_popup.js" %}"></script>
</body>
</html> -->